.h1 {
    color: blue !important;
}

.h1 {
    color: red;
}

#heading {
    font-size: 20px !important ;
}

p {
    color: red;
}

/* Syntax of CSS */
/* Selector - Element Name*/
/* ID / Class */

/* Selector { property: value } */